[init]
    defaultBranch = main

[core]
    editor = code --wait

[pull]
    rebase = false

[push]
    autoSetupRemote = true

[fetch]
    prune = true

[color]
    ui = auto

[alias]
    co = checkout
    br = branch
    ci = commit
    st = status
    lg = log --oneline --decorate --graph --all
